<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Actualizar datos del cliente</title>
</head>
<body>
    <h1 class="text-center"> Actualizar datos del cliente </h1>

    <body class="p-3 mb-2 bg-dark text-white">
        <div class="container d-flex justify-content-center align-items-center min-vh-50">
            <div class="card border-white mb-8" style="background-color: transparent;">
                <div class="card-body text-white">
            <div class="row">
                <div class="col-md-6">
            <form action="/vactualizarCliente/{{clientes.0}}" method="POST">
                <div class="mb-3">
                <input  class="form-control form-control-lg" aria-label=".form-control-lg example" type="text" name="nombre" value="{{clientes.1}}">    
                </div>
                <div class="mb-3">
                    <input  class="form-control form-control-lg" aria-label=".form-control-lg example" type="text" name="ApellidoP" value="{{clientes.2}}">  
                </div>
                <div class="mb-3">
                    <input  class="form-control form-control-lg" aria-label=".form-control-lg example" type="text" name="ApellidoM" value="{{clientes.3}}">   
                </div>
                <div class="mb-3">
                    <input  class="form-control form-control-lg" aria-label=".form-control-lg example" type="text" name="RFC" value="{{clientes.4}}"> 
                </div>
                <div class="mb-3">
                    <input  class="form-control form-control-lg" aria-label=".form-control-lg example" type="text" name="Calle" value="{{clientes.5}}">   
                </div>
                <div class="mb-3">
                    <input  class="form-control form-control-lg" aria-label=".form-control-lg example" type="text" name="numint" value="{{clientes.6}}"> 
                </div>
                <div class="mb-3">
                    <input  class="form-control form-control-lg" aria-label=".form-control-lg example" type="text" name="numext" value="{{clientes.7}}"> 
                </div>
                <div class="mb-3">
                    <input  class="form-control form-control-lg" aria-label=".form-control-lg example" type="text" name="colonia" value="{{clientes.8}}">  
                </div>
            </form>
                        </div>
                <div class="col-md-6">
                    <br><br>
                    <form action="/vactualizarCliente/{{clientes.0}}" method="POST"></form>
                <div class="mb-3">
                    <input  class="form-control form-control-lg" aria-label=".form-control-lg example" type="text" name="cp" value="{{clientes.9}}"> 
                </div>
                <div class="mb-3">
                    <input  class="form-control form-control-lg" aria-label=".form-control-lg example" type="text" name="delegacion" value="{{clientes.10}}">   
                </div>
                <div class="mb-3">
                    <input  class="form-control form-control-lg" aria-label=".form-control-lg example" type="text" name="ciudad" value="{{clientes.11}}">
                </div>
                <div class="mb-3">
                    <input  class="form-control form-control-lg" aria-label=".form-control-lg example" type="text" name="estado" value="{{clientes.12}}">
                </div>
                <div class="mb-3">
                    <input  class="form-control form-control-lg" aria-label=".form-control-lg example" type="text" name="telefono" value="{{clientes.13}}"> 
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-lg" aria-label=".form-control-lg example" type="text" name="correo" value="{{clientes.14}}">   
                </div>
              
                <button type="submit" class="btn btn-secondary"> Editar </button>
                <a href=/vcarteraClientes><button type="button" class="btn btn-secondary"> Cancelar </button></a>
            </form>
        </div>
                    </div>
</body>
</html>