<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
    <title>Notaria</title>
</head>
<body>
    
    {%with mensajes=get_flashed_messages()%}
      {%if mensajes%}
        {%for msj in mensajes%}
         <h3>{{msj}}</h3>
        {%endfor%}
      {%endif%}
    {%endwith%}
    <div class="Formulario">
        <h1> Buscar Usuario </h1>  
         <form action="/buscarusuario" method="post">
            <div class="username">
                <input type="text" name="id_usuario" required>
                <label>Nombre de Usuario</label>
            </div>
            <div class="use">
                <button type="submit"> Buscar</button>
            </div>
            <div class="username">
                <input type="text" name="NombreBU" value="{{ nombre }}">
                <label>Nombre(s)</label>
            </div>
            <div class="username">
                <input type="text" name="ApellidoP" value="{{ apellido_paterno }}">
                <label>Apellido Paterno</label>
            </div>
            <div class="username">
                <input type="text" name="ApellidoM" value="{{ apellido_materno }}">
                <label>Apellido Materno</label>
            </div>
            <div class="use">
                <a href=/HolaU><button type="button"> Cancelar </button></a>
            </div>
        </form>
    
    </div>
</body>
</html>