<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>

    {%with mensajes=get_flashed_messages()%}
      {%if mensajes%}
        {%for msj in mensajes%}
         <h3>{{msj}}</h3>
        {%endfor%}
      {%endif%}
    {%endwith%}
    <div class="Formulario">
        <h1> Buscar Cliente </h1>   
        <form action="/buscarcliente" method="post">
            <div class="username">
                <input type="text" name="Nombre" placeholder="Nombre(s)" required>
                
            </div>
            <div class="username">
                <input type="text" name="ApellidoP" placeholder="Apellido paterno" required>
                
            </div>
            <div class="username">
                <input type="text" name="ApellidoM" placeholder="Apellido Materno" required>
                
            </div>
            <div class="use">
                <button type="submit"> Buscar</button>
               <a href=/pag_princ_usuario.html><button type="button"> Cancelar </button></a>
            </div>
            <div class="username">
                <input type="text" name="NombreCli" placeholder="Nombre Cliente" value="{{ nombre }}">
               
            </div>
            <div class="username">
                <input type="text" name="ApellidoPCLI" placeholder="Apellido paterno" value="{{ apellido_paterno }}">
                
            </div>
            <div class="username">
                <input type="text" name="ApellidoMCLI" placeholder="Apellido materno" value="{{ apellido_materno }}">
              
            </div>
            <div class="username">
                <input type="text" name="RFCCLI" placeholder="RFC" value="{{ RFC }}">
                
            </div>
            <div class="username">
                <input type="text" name="CalleCLI" placeholder="Calle" value="{{ calle }}">
              
            </div>
            <div class="username">
                <input type="text" name="NICLI" placeholder="Número interno" value="{{ num_int }}">
                
            </div>
            <div class="username">
                <input type="text" name="NECLI" placeholder="Número externo" value=" {{ num_ext }}">
                
            </div>
            <div class="username">
                <input type="text" name="coloniaCLI" placeholder="Colonia" value="{{ colonia }}">
                
            </div>
            <div class="username">
                <input type="text" name="CPCLI" placeholder="Código Postal" value="{{ codigo_postal }}">
                
            </div>
            <div class="username">
                <input type="text" name="DELEGACIONCLI" placeholder="Delegación" value="{{ delegacion }}">
               
            </div>
            <div class="username">
                <input type="text" name="CiudadCLI" placeholder="Ciudad" value="{{ ciudad }}">
              
            </div>
            <div class="username">
                <input type="text" name="EstadoCLI" placeholder="Estado" value="{{ estado }}">
                
            </div>
            <div class="username">
                <input type="text" name="TelefonoCLI" placeholder="Teléfono" value="{{ telefono }}">
                
            </div>
            <div class="username">
                <input type="text" name="correCLI" placeholder="Correo" value="{{ correo }}">
                
            </div>
        </form>
    
    </div>
</body>
</html>