<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>
    <div class="menu">
        <a href="{{ url_for('Registrar_Nuevo_Usuario') }}"><button type="button"> Registrar Usuario </button></a>
        <a href="{{ url_for('BuscarUsuario') }}"><button type="button">Buscar Usuario</button></a>
        <a href="{{ url_for('Modificar_Usuario') }}"><button type="button"> Modificar Usuario </button></a>
        <a href="{{ url_for('Eliminar_Usuario') }}"><button type="button"> Eliminar Usuario </button></a>
        <a href="{{ url_for('RegistrarCliente') }}"><button type="button"> Registro Cliente  </button></a>
        <a href="{{ url_for('ModificarCliente') }}"><button type="button"> Editar un Cliente  </button></a>
        <a href="{{ url_for('EditarTramite') }}"><button type="button"> Inicio de Tramite </button></a>
        <a href="{{ url_for('IngresoPago') }}"><button type="button"> Ingreso de Pago </button></a>
        <a href="{{ url_for('BuscarTramite') }}"><button type="button"> Buscar Tramite  </button></a>
        <a href="{{ url_for('BuscarCliente') }}"><button type="button"> Buscar Cliente </button></a>

    </div>
    {%with mensajes=get_flashed_messages()%}
      {%if mensajes%}
        {%for msj in mensajes%}
         <h3>{{msj}}</h3>
        {%endfor%}
      {%endif%}
    {%endwith%}
    <div class="Formulario">
        <h1> Buscar Cliente </h1>   
        <form action="/buscarcliente" method="post">
            <div class="username">
                <input type="text" name="ApellidoM" required>
                <label>Nombre</label>
            </div>
            <div class="username">
                <input type="text" name="ApellidoM" required>
                <label>Apellido Paterno</label>
            </div>
            <div class="username">
                <input type="text" name="ApellidoM" required>
                <label>Apellido Materno</label>
            </div>
            <div class="use">
                <button type="submit"> Buscar</button>
                <button type="reset"> Cancelar </button>
            </div>
            <div class="username">
                <input type="text" name="NombreCli" value="{{ nombre }}">
                <label>Nombre Cliente</label>
            </div>
            <div class="username">
                <input type="text" name="ApellidoPCLI" value="{{ apellido_paterno }}">
                <label>Apellido Paterno</label>
            </div>
            <div class="username">
                <input type="text" name="ApellidoMCLI" value="{{ apellido_materno }}">
                <label>Apellido Materno</label>
            </div>
            <div class="username">
                <input type="text" name="RFCCLI" value="{{ RFC }}">
                <label>RFC</label>
            </div>
            <div class="username">
                <input type="text" name="CalleCLI" value="{{ calle }}">
                <label>Calle</label>
            </div>
            <div class="username">
                <input type="text" name="NICLI" value="{{ num_int }}">
                <label>Número Interno</label>
            </div>
            <div class="username">
                <input type="text" name="NECLI" value=" {{ num_ext }}">
                <label>Número Externo</label>
            </div>
            <div class="username">
                <input type="text" name="coloniaCLI" value="{{ colonia }}">
                <label> Colonia </label>
            </div>
            <div class="username">
                <input type="text" name="CPCLI" value="{{ codigo_postal }}">
                <label> CP </label>
            </div>
            <div class="username">
                <input type="text" name="DELEGACIONCLI" value="{{ delegacion }}">
                <label> Delegacion </label>
            </div>
            <div class="username">
                <input type="text" name="CiudadCLI" value="{{ ciudad }}">
                <label> Ciudad </label>
            </div>
            <div class="username">
                <input type="text" name="EstadoCLI" value="{{ estado }}">
                <label> Estado </label>
            </div>
            <div class="username">
                <input type="text" name="TelefonoCLI" value="{{ telefono }}">
                <label> Telefono </label>
            </div>
            <div class="username">
                <input type="text" name="correCLI" value="{{ correo }}">
                <label> Correo </label>
            </div>
        </form>
    
    </div>
</body>
</html>