<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
    <title>Consulta usuarios</title>
</head>
<body>
    <div class="menu">
        <a href="{{ url_for('HolaU') }}"><button type="button"> Página de inicio </button></a>

    </div>
<br>
<br>
<center>
<h1>Usuarios registrados</h1>
<br>
<table>
<thead>
<tr>
<td>Id:</td>
<td>Nombre:</td>
<td>Apellido paterno:</td>
<td>Apellido materno:</td>
<td>Cargo:</td>
<td>Constraseña:</td>
</tr>
</thead>

<tbody> 
{%for usu in listaUsuarios %}
<tr>
<td>{{ usu.0 }}</td>
<td>{{ usu.1 }}</td>
<td>{{ usu.2 }}</td>
<td>{{ usu.3 }}</td>
<td>{{ usu.4 }}</td>
<td>{{ usu.5 }}</td>

<td>
  <a href="/vactualizar/{{ usu.0 }}">Editar</a>
  <a href="/veliminar/{{ usu.0 }}">Eliminar</a>
</td>
</tr>

{%endfor %}
</tbody>
</table>
</center>

</body>
</html>