<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notaria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>
    
    {%with mensajes=get_flashed_messages()%}
    {%if mensajes%}
      {%for msj in mensajes%}
       <h3>{{msj}}</h3>
      {%endfor%}
    {%endif%}
  {%endwith%}

    <div class="Formulario">
        <h1> Iniciar Tramite  </h1>   
        <form action="/Inciar_Tramite" method="post">
            <div class="username">
                <input type="text" name="NumeroExpediente" placeholder="Número expediente" required>
               
            </div>
            <div class="username">
                <input type="text" name="NumeroTomo" placeholder="Número de tomo" required>
              
            </div>
            <div class="username">
                <input type="text" name="Operacion" placeholder="Operación" required>
              
            </div>
    
            <div class="username">
                <input type="text" name="Cliente" placeholder="Cliente" required>
                
            </div>
            <div class="use">
                <button type="submit"> Guardar</button>
                <a href=/pag_princ_usuario.html><button type="button"> Cancelar </button></a>
            </div>
        </form>
    
    </div>
</body>
</html>