<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notaria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>
    <div class="menu">
        <a href="{{ url_for('Registrar_Nuevo_Usuario') }}"><button type="button"> Registrar Usuario </button></a>
        <a href="{{ url_for('BuscarUsuario') }}"><button type="button">Buscar Usuario</button></a>
        <a href="{{ url_for('Modificar_Usuario') }}"><button type="button"> Modificar Usuario </button></a>
        <a href="{{ url_for('Eliminar_Usuario') }}"><button type="button"> Eliminar Usuario </button></a>
        <a href="{{ url_for('RegistrarCliente') }}"><button type="button"> Registro Cliente  </button></a>
        <a href="{{ url_for('ModificarCliente') }}"><button type="button"> Editar un Cliente  </button></a>
        <a href="{{ url_for('EditarTramite') }}"><button type="button"> Inicio de Tramite </button></a>
        <a href="{{ url_for('IngresoPago') }}"><button type="button"> Ingreso de Pago </button></a>
        <a href="{{ url_for('EliminarFactura') }}"><button type="button"> Eliminar Factura </button></a>
        <button type="button"> Buscar Tramite  </button>
        <button type="button"> Buscar Cliente </button>
    </div>
    <div class="Formulario">
        <h1> Eliminar Usuario </h1>   
        <form action="/Modificar_Usuario" method="post">
            <div class="username">
                <input type="text" name="id_usuario">
                <label>ID Usuario No puede ser modificada</label>
            </div>
            <h1>Datos de Usuario a Eliminar</h1>
            <div class="username">
                <input type="text" name="NombreMU">
                <label>Nombre(s)</label>
            </div>
            <div class="username">
                <input type="text" name="ApellidoPMU">
                <label>Apellido Paterno</label>
            </div>
            <div class="username">
                <input type="text" name="ApellidoMMU">
                <label>Apellido Materno</label>
            </div>
            <div class="username">
                <input type="text" name="CargoMU">
                <label>Cargo</label>
            </div>
            <div class="username">
                <input type="password" name="contraseñaMU">
                <label>contraseña</label>
            </div>
            <div class="use">
                <button type="submit"> Eliminar Usuario </button>
                <button type="reset"> Cancelar </button>
            </div>
        </form>
    
    </div>
</body>
</html>