<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
 
    <title>Eliminar usuario</title>
</head>
<body class="p-3 mb-2 bg-dark text-white">
    {%with mensajes=get_flashed_messages()%}
      {%if mensajes%}
        {%for msj in mensajes%}

        <script>Swal.fire(
            '',
            '{{ msj }}  ',
            '')
          </script>
        {%endfor%}
      {%endif%}
    {%endwith%}
    <div class="d-grid gap-2">
        <div class="container d-flex justify-content-center align-items-center min-vh-100">
            <div class="card border-white mb-8" style="background-color: transparent;">
                <div class="card-body text-white">
                    <form action="/eliminar/{{usuarios.0}}" method="POST">
                        <h1>Eliminar usuario</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <input class="form-control form-control-lg" type="text" name="Nombre" value="{{usuarios.1}}" placeholder="Nombre">
                                </div>
                                <div class="mb-3">
                                    <input class="form-control form-control-lg" type="text" name="AP" value="{{usuarios.2}}" placeholder="Apellido Paterno">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <input class="form-control form-control-lg" type="text" name="AM" value="{{usuarios.3}}" placeholder="Apellido Materno">
                                </div>
                                <div class="mb-3">
                                    <input class="form-control form-control-lg" type="text" name="Cargo" value="{{usuarios.4}}" placeholder="Cargo">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control-lg" type="text" name="Contraseña" value="{{usuarios.5}}" placeholder="Contraseña">
                        </div>
                        <button type="submit" class="btn btn-secondary">Eliminar</button>
                        <a href="/vcarteraUsuarios"><button type="button" class="btn btn-secondary">Cancelar</button></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>