<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notaria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>
    <div class="menu">
        <a href="{{ url_for('Registrar_Nuevo_Usuario') }}"><button type="button"> Registrar Usuario </button></a>
        <a href="{{ url_for('BuscarUsuario') }}"><button type="button">Buscar Usuario</button></a>
        <a href="{{ url_for('Modificar_Usuario') }}"><button type="button"> Modificar Usuario </button></a>
        <a href="{{ url_for('Eliminar_Usuario') }}"><button type="button"> Eliminar Usuario </button></a>
        <a href="{{ url_for('RegistrarCliente') }}"><button type="button"> Registro Cliente  </button></a>
        <a href="{{ url_for('ModificarCliente') }}"><button type="button"> Editar un Cliente  </button></a>
        <a href="{{ url_for('EditarTramite') }}"><button type="button"> Inicio de Tramite </button></a>
        <a href="{{ url_for('IngresoPago') }}"><button type="button"> Ingreso de Pago </button></a>
        <a href="{{ url_for('EliminarFactura') }}"><button type="button"> Eliminar Factura </button></a>
        <a href="{{ url_for('BuscarTramite') }}"><button type="button"> Buscar Tramite  </button></a>
        <a href="{{ url_for('BuscarCliente') }}"><button type="button"> Buscar Cliente </button></a>

    </div>
    <div class="Formulario">
        <h1> Modificar Cliente </h1>   
        <form action="/RegistrarCliente" method="post">
            <div class="username">
                <input type="text" name="NombreCli">
                <label>Nombre Cliente</label>
            </div>
            <div class="username">
                <input type="text" name="ApellidoPCLI">
                <label>Apellido Paterno</label>
            </div>
            <div class="username">
                <input type="text" name="ApellidoMCLI">
                <label>Apellido Materno</label>
            </div>
            <div class="username">
                <input type="text" name="RFCCLI">
                <label>RFC</label>
            </div>
            <div class="username">
                <input type="text" name="CalleCLI">
                <label>Calle</label>
            </div>
            <div class="username">
                <input type="text" name="NICLI">
                <label>Número Interno</label>
            </div>
            <div class="username">
                <input type="text" name="NECLI">
                <label>Número Externo</label>
            </div>
            <div class="username">
                <input type="text" name="coloniaCLI">
                <label> Colonia </label>
            </div>
            <div class="username">
                <input type="text" name="CPCLI">
                <label> CP </label>
            </div>
            <div class="username">
                <input type="text" name="DELEGACIONCLI">
                <label> Delegacion </label>
            </div>
            <div class="username">
                <input type="text" name="CiudadCLI">
                <label> Ciudad </label>
            </div>
            <div class="username">
                <input type="text" name="EstadoCLI">
                <label> Estado </label>
            </div>
            <div class="username">
                <input type="text" name="TelefonoCLI">
                <label> Telefono </label>
            </div>
            <div class="username">
                <input type="text" name="correCLI">
                <label> Correo </label>
            </div>
            <div class="use">
                <button type="submit"> Editar </button>
                <button type="reset"> Cancelar </button>
            </div>
        </form>
    
    </div>
</body>
</html>