<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notaria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>
    <div class="menu">
        <a href="{{ url_for('Registrar_Nuevo_Usuario') }}"><button type="button"> Registrar Usuario </button></a>
        <a href="{{ url_for('BuscarUsuario') }}"><button type="button">Buscar Usuario</button></a>
        <a href="{{ url_for('Modificar_Usuario') }}"><button type="button"> Modificar Usuario </button></a>
        <a href="{{ url_for('Eliminar_Usuario') }}"><button type="button"> Eliminar Usuario </button></a>
        <a href="{{ url_for('Registro_Cliente') }}"><button type="button"> Registro Cliente  </button></a>
        <button type="button"> Editar un Cliente  </button>
        <button type="button"> Inicio de Tramite </button>
        <button type="button"> Ingreso de Pago </button>
        <button type="button"> Eliminar Usuario </button>
        <button type="button"> Buscar Factura </button>
        <button type="button"> Buscar Tramite  </button>
        <button type="button"> Buscar Cliente </button>

    </div>
    
</body>
</html>