<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notaria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">


</head>
<body>

    <br>
    <br>
    <br>
    <br>
    {%with mensajes=get_flashed_messages()%}
      {%if mensajes%}
        {%for msj in mensajes%}
         <h3>{{msj}}</h3>
        {%endfor%}
      {%endif%}
    {%endwith%}

    <div class="menu">
        <a href="{{ url_for('Registrar_Nuevo_Usuario') }}"><button type="button"> Registrar Usuario </button></a>
        <a href="{{ url_for('BuscarUsuario') }}"><button type="button">Buscar Usuario</button></a>
        <a href="{{ url_for('Modificar_Usuario') }}"><button type="button"> Modificar Usuario </button></a>
        <a href="{{ url_for('Eliminar_Usuario') }}"><button type="button"> Eliminar Usuario </button></a>
        <a href="{{ url_for('RegistrarCliente') }}"><button type="button"> Registro Cliente  </button></a>
        <a href="{{ url_for('ModificarCliente') }}"><button type="button"> Editar un Cliente  </button></a>
        <a href="{{ url_for('EditarTramite') }}"><button type="button"> Inicio de Tramite </button></a>
        <a href="{{ url_for('IngresoPago') }}"><button type="button"> Ingreso de Pago </button></a>
        <a href="{{ url_for('BuscarTramite') }}"><button type="button"> Buscar Tramite  </button></a>
        <a href="{{ url_for('BuscarCliente') }}"><button type="button"> Buscar Cliente </button></a>
        <a href="{{ url_for('Registros') }}"><button type="button"> Registros </button></a>

    </div>
<div class="Formulario">
    <h1> Registro de Nuevo Usuario </h1>   
    <form action="/Guargar" method="post">
        <div class="username">
            <input type="text" name="nombre" required>
            <label>Nombre</label>
        </div>
        <div class="username">
            <input type="text" name="ApellidoP" required>
            <label>pellido Paterno</label>
        </div>
        <div class="username">
            <input type="text" name="ApellidoM" required>
            <label>Apellido Materno</label>
        </div>

        <div class="username">
            <input type="text" name="Cargo" required>
            <label>Cargo</label>
        </div>
        <div class="username">
            <input type="password" name="password" required>
            <label>contraseña</label>
        </div>
        <div class="use">
            <button type="submit"> Guardar</button>
            <button type="reset"> Cancelar </button>
        </div>
    </form>

</div>
</body>
</html>