<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notaria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">


</head>
<body>

       {%with mensajes=get_flashed_messages()%}
      {%if mensajes%}
        {%for msj in mensajes%}
         <h3>{{msj}}</h3>
        {%endfor%}
      {%endif%}
    {%endwith%}

    
<div class="Formulario">
    <h1> Registro de Nuevo Usuario </h1>   
    <form action="/Guargar" method="post">
        <div class="username">
            <input type="text" name="nombre" placeholder="Nombre(s)" required>
           
        </div>
        <div class="username">
            <input type="text" name="ApellidoP" placeholder="Apellido paterno" required>
           
        </div>
        <div class="username">
            <input type="text" name="ApellidoM" placeholder="Apellido materno" required>
            
        </div>

        <div class="username">
            <input type="text" name="Cargo" placeholder="Cargo" required>
            
        </div>
        <div class="username">
            <input type="password" name="password" placeholder="Contraseña" required>
          
        </div>
        <div class="use">
            <button type="submit"> Guardar</button>
            <a href=/HolaU><button type="button"> Cancelar </button></a>
        </div>
    </form>

</div>
</body>
</html>