<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notaria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body  class="p-3 mb-2 bg-dark text-white">

    {%with mensajes=get_flashed_messages()%}
      {%if mensajes%}
        {%for msj in mensajes%}
          <script>Swal.fire(
            'Good job!',
            '{{ msj }}  ',
            'success')
          </script>
        {%endfor%}
      {%endif%}
    {%endwith%}
    <h1 class="text-center"> Registrar Cliente </h1> 
    <div class="container d-flex justify-content-center align-items-center min-vh-50">
      <div class="card border-white mb-8" style="background-color: transparent;">
        <div class="card-body text-white">
          <div class="row">
            <div class="col-md-6">
      
        <form action="/RegistrarNCliente" method="post">
     
            <div class="mb-3">
            <input class="form-control form-control-lg" type="text" pname="NombreCli" placeholder="Nombre(s)" aria-label=".form-control-lg example" required>
            </div>
            <div class="mb-3">
            <input class="form-control form-control-lg" type="text" name="ApellidoPCLI" placeholder="Apellido paterno" aria-label=".form-control-lg example" required>
            </div>
            <div class="mb-3">
            <input class="form-control form-control-lg" type="text" name="ApellidoMCLI" placeholder="Apellido Materno" aria-label=".form-control-lg example" required>
            </div>
            <div class="mb-3">
                <input class="form-control form-control-lg" type="text" name="RFCCLI" placeholder="RFC"  aria-label=".form-control-lg example" required>
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-lg" type="text" name="CalleCLI" placeholder="Calle" aria-label=".form-control-lg example" required>
                    </div>
                    <div class="mb-3">
                    <input class="form-control form-control-lg" type="text" name="NICLI" placeholder="Número interno" aria-label=".form-control-lg example" required>
                    </div>
                    <div class="mb-3">
                    <input class="form-control form-control-lg" type="text" name="NECLI" placeholder="Número externo" aria-label=".form-control-lg example" required>
                    </div>
                    <div class="mb-3">
                    <input class="form-control form-control-lg" type="text" name="coloniaCLI" placeholder="Colonia" aria-label=".form-control-lg example" required>
                    </div>
        </form>
            </div>
          
            <div class="col-md-6">
              <br>
              <br>
              <br>
              <form action="/RegistrarNCliente" method="post">
                    <div class="mb-3">
                    <input class="form-control form-control-lg" type="text" name="CPCLI" placeholder="Código Postal"  aria-label=".form-control-lg example" required>
                    </div>
                    <div class="mb-3">
                    <input class="form-control form-control-lg" type="text" name="DELEGACIONCLI" placeholder="Delegación" aria-label=".form-control-lg example" required>
                    </div>
                    <div class="mb-3">
                    <input class="form-control form-control-lg" type="text" name="CiudadCLI" placeholder="Ciudad" aria-label=".form-control-lg example" required>
                    </div>
                    <div class="mb-3">
                    <input class="form-control form-control-lg" type="text" name="TelefonoCLI" placeholder="Teléfono" aria-label=".form-control-lg example" required>
                    </div>
                    <div class="mb-3">
                    <input class="form-control form-control-lg" type="text" name="correCLI" placeholder="Correo" aria-label=".form-control-lg example" required>
                    </div>
            <div class="use">
                <button type="submit"  class="btn btn-secondary"> Guardar</button>
                <a href=/pag_princ_usuario.html><button type="button" class="btn btn-secondary"> Cancelar </button></a>
            </div>
            
        </form>
            </div>
            </div>

</body>
</html>